.main {
  padding: 0 20px;
}

.catsContainer {
  display: flex;
  flex-direction: row;
}

.catsListSection {
  height: 550px;
  overflow-y: auto;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 18px;
  width: 50%;
}

.catsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catItem {
  padding-bottom: 10px;
}

.catButton {
  border: none;
  padding: 0;
}

.catImage {
  width: 100px;
  display: block;
}

.catImageSelected {
  border: 4px solid red;
}

.catDetails {
  margin-left: 20px;
}
